<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.transportation.mapper.WaitingItemMapper">

    <!--WaitingItem seleteWaitingListByStep2(@Param("listId") Long listId);-->
    <select id="seleteWaitingListByStep2" resultType="WaitingItem">
        select * from waiting_item where list_id = #{listId}
    </select>

</mapper>
