<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.transportation.mapper.OrderMapper">

    <resultMap id="orderByStepResultMap" type="Order">
        <id column="order_id" property="orderId"></id>
        <result column="shipment_place" property="shipmentPlace"></result>
        <result column="consignee" property="consignee"></result>
        <result column="consignee_phone" property="consigneePhone"></result>
        <result column="destination" property="destination"></result>
        <result column="total_price" property="totalPrice"></result>
        <result column="total_weight" property="totalWeight"></result>
        <result column="shipper_id" property="shipperId"></result>
        <result column="carrier_id" property="carrierId"></result>
        <!--处理shipper字段-->
        <association property="shipper" fetchType="eager"
                     select="com.lqyrmk.transportation.mapper.ShipperMapper.getOrderByOrderIdByStep2"
                     column="shipper_id"></association>
        <!--处理carrier字段-->
        <association property="carrier" fetchType="eager"
                     select="com.lqyrmk.transportation.mapper.CarrierMapper.getOrderByOrderIdByStep2"
                     column="carrier_id"></association>
        <!--处理orderDetailsList字段-->
        <collection property="orderDetailsList" fetchType="eager"
                    select="com.lqyrmk.transportation.mapper.OrderDetailsMapper.getOrderDetailsByOrderId"
                    column="order_id"></collection>
    </resultMap>

    <!--List<Order> getAllOrders();-->
    <select id="getAllOrders" resultMap="orderByStepResultMap">
        select * from `order`
    </select>

    <!--List<Order> getOrdersByInfoByCarrier(@Param("keywords") String keywords);-->
    <select id="getOrdersByInfoByCarrier" resultMap="orderByStepResultMap">
        select *
        from `order`
        where `shipment_place` like '%${keywords}%'
            or `consignee` like '%${keywords}%'
            or `destination` like '%${keywords}%'
            or shipper_id in (select shipper_id from `shipper` where `shipper_name` like '%${keywords}%')
            or carrier_id in (select carrier_id from `carrier` where `carrier_name` like '%${keywords}%')
    </select>

    <!--List<Order> getOrdersByInfoByShipper(@Param("keywords") String keywords, @Param("userId") Long userId);-->
    <select id="getOrdersByInfoByShipper" resultMap="orderByStepResultMap">
        select *
        from `order`
        where
        (
            `shipment_place` like '%${keywords}%'
            or `consignee` like '%${keywords}%'
            or `destination` like '%${keywords}%'
            or shipper_id in (select shipper_id from `shipper` where `shipper_name` like '%${keywords}%')
            or carrier_id in (select carrier_id from `carrier` where `carrier_name` like '%${keywords}%')
        )
        and shipper_id = #{userId}
    </select>

    <!--Order getOrderByOrderIdByStep1(@Param("orderId") Integer orderId);-->
    <select id="getOrderByOrderIdByStep1" resultMap="orderByStepResultMap">
        select * from `order` where order_id = #{orderId}
    </select>

<!--    &lt;!&ndash;List<Order> getShipperAndOrderByShipperIdByStepTwo(@Param("shipperId") Integer shipperId);&ndash;&gt;-->
<!--    <select id="getShipperAndOrderByShipperIdByStepTwo" resultType="Order">-->
<!--        select * from `order` where shipper_id = #{shipperId}-->
<!--    </select>-->

    <!--void addOrder(Order order);-->
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into `order`(`order_id`, `shipper_id`, `carrier_id`, `shipment_place`, `consignee`, `consignee_phone`, `destination`, `total_weight`, `total_price`)
        values (#{orderId}, #{shipperId}, #{carrierId}, #{shipmentPlace}, #{consignee}, #{consigneePhone}, #{destination}, #{totalWeight}, #{totalPrice})
    </insert>

    <!--void updateOrderById(Order order);-->
    <update id="updateOrderById">
        update `order`
        set `shipper_id`=#{shipperId}, `carrier_id`=#{carrierId}, `shipment_place`=#{shipmentPlace},
            `consignee`=#{consignee}, `consignee_phone`=#{consigneePhone}, `destination`=#{destination},
            `total_weight`=#{totalWeight}, `total_price`=#{totalPrice}, `state`=#{state}
        where `order_id`=#{orderId}
    </update>

    <!--void deleteOrderById(@Param("orderId") Long orderId);-->
    <delete id="deleteOrderById">
        delete from `order` where order_id=#{orderId}
    </delete>

    <!--void updateOrderPriceAndWeight(Order order);-->
    <update id="updateOrderPriceAndWeight">
        update `order`
        set `total_price`=#{totalPrice}, `total_weight`=#{totalWeight}
        where `order_id` = #{orderId}
    </update>

</mapper>
